/* retro.css */

/* Set the background color of the game window */
.border-pane {
  -fx-background-color: #c0c0c0;
}

/* Style the welcome screen */
.text-area {
  -fx-control-inner-background: #c0c0c0;
  -fx-font-family: Arial, sans-serif;
  -fx-text-fill: black;
  -fx-font-size: 12px;
  -fx-border-color: #000000;
  -fx-border-width: 1px;
  -fx-padding: 0px;
}

/* Style the fridge screen */
.actionWindow {
  -fx-border-insets: 5px;
  -fx-background-insets: 5px;
  -fx-padding: 0px;
  -fx-border-color: white black black white;
  -fx-border-width: 1px;
}

/* Style the buttons */
.button {
  -fx-font-size: 12px;
  -fx-pref-width: 100px;
  -fx-pref-height: 20px;
  -fx-padding: 4px 8px;
  -fx-background-color: #c0c0c0;
  -fx-border-color: white black black white;
  -fx-border-width: 1px;
  -fx-text-fill: black;
  -fx-font-family: Arial, sans-serif;
}

.button:hover {
  -fx-border-color: black white white black;
}

.button:pressed {
  -fx-border-color: black;
}

/* Style the submit button */
.button#submitButton {
  -fx-pref-width: 80px;
}

/* Style the player input field */
.text-area#playerInputField {
  -fx-control-inner-background: white;
  -fx-pref-height: 30px;
  -fx-font-family: Arial, sans-serif;
  -fx-font-size: 12px;
}

/* Style the player input field prompt text */
.text-area#playerInputField .text {
  -fx-font-family: Arial, sans-serif;
  -fx-font-size: 12px;
  -fx-text-fill: #c0c0c0;
}
.retro-logo {
  -fx-font-family: "Papyrus";
  -fx-font-size: 64px;
  -fx-font-weight: bold;
  -fx-text-fill: orange;
  -fx-effect: dropshadow(gaussian, black, 2, 0, 2, 2);
}
